*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
.math {
  width: 100vw;

  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
pre{
    text-overflow: ellipsis;
    width: 100%;
    overflow-wrap: normal;
}
.maths-nevigation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;

  
  gap: 5rem;
}
.maths-nevigation > a >button{
    width: fit-content;
    height: 3rem;
    border-radius: 25px;
    padding: 0.6rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    background-color: blue;
}
.practicals-maths{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.practicals-maths>div{
    display: flex;
    padding: 10rem;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.maths-pra-header{
    text-transform: uppercase;
    background-color: grey;
    font-size: 3rem;
}
.practicalinfo{
    font-size: 18px;

}
@media (max-width:600px){
    .practicalinfo{
        font-size: 12px;
    
    }
 
    html{
        padding: 50%;
        height: 50%;
        font-size: 50%;
    }

}


