
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    background-color: transparent;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
header::before{
    content: '';
    width: 100%;
    background-size: cover;
    height: 100%;
    position: absolute;
    background-image:url("https://images5.alphacoders.com/105/1058804.jpg");
    opacity: 0.85;
    top: 0;
    z-index: -5;


}
.nav{
    justify-content: center;
    align-items: center;
    width: 100vw;
}
nav{
    height: 5rem;
    width: 80rem;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--black);
    border-radius: 0 0 45% 45%;


}
.n-text{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(249, 248, 248);
    max-width: 80%;
    text-shadow: 5px 5px 10px black;

}
.list>li{
    display: inline;
}

.flex{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.ham-btn{
    display: none;
}
a{
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 28px black;
    text-transform: uppercase;
}
li{
    padding: 0.5rem;
}
li::after{
    content: '';
    background-color: var(--blue);
    height: 2px;
    width: 0%;
    display: block;
}
li:hover::after{
    width: 100%;
    transition: width .3s;  
}
li:hover>a{
    color: var(--blue);
    transition: color .3s;
}

.list{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
}
button{
    width: fit-content;
    padding: 1rem;
    height: fit-content;
    background-color: gray;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    
    border: none;
    border-radius: 30px;
}
button:hover{
    transition: 100ms;
    outline: 2px solid var(--blue);
    background-color: var(--blue3);

}

header::after{
    content:'';
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: var(--blue2);
    box-shadow: -10px -55px 85px var(--blue);
 
    height: 30%;
    z-index: -4;
}
.about-us{
    width: 100vw;
    background-color: var(--blue);
    box-shadow: -10px -55px 85px var(--blue);
}
.a-wrapper{
    display: flex;
    padding: 5rem;
}
.about-wrapper{
    animation: pop-up 1s ;
    padding: 5rem;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 20%;
    height: 30rem;
    background-color: var(--black);
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin: 0 auto;
    border-radius: 55px;

}
.bold-state{
    font-size: 5rem;
    font-weight: 900;
    position: relative;
    font-family: var(--font1);
    -webkit-text-stroke: 2px var(--blue);
    overflow: hidden;
    

}
.bold-text{
    margin-left: 2rem;
    font-size: 6rem;
    font-weight: 900;
    width: fit-content;
    position: relative;
    font-family: var(--font1);
    -webkit-text-stroke: 2px var(--blue);
    overflow: hidden;
    color: white;
    

}

.bold-text::before{
    content: attr(data-text);
    width: 100%;
    overflow: hidden;
    border-right:2px solid red ;
    color: black;
    animation: text-appear 1.5s  infinite alternate;
    position: absolute;
   
}
.bold-state::before{
    content: attr(data-text);
    width: 100%;
    border-right:2px solid red ;
    overflow: hidden;
    color: var(--blue);
    animation: text-appear 2s infinite alternate-reverse;
    position: absolute;
   
}


@keyframes text-appear{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.content-menu{
    background-color: var(--blue);
    width: 100vw;
    height: auto;


}
.menu-table{

    background-color: var(--black);

}
td{
    border: 2px solid var(--blue2);
    margin: 0;
    padding: 2rem;
}
th{
    background-color: var(--blue3);
}
table{
 border-collapse: collapse;
 width: 60%;
 height: 60%;
 margin: 2rem auto;
 box-shadow: 12px 12px 15px black;
}
.practicals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;

}
.sem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
}
footer{
    width: 100vw;
    background-color: var(--black);


}
.footer-heading{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
.f-flex{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
}
@keyframes pop-up{
    0%{
        opacity:0 ;
        transform:translateY(-20%);  
    }      
    100%{
        opacity: 1;
        transform:translateY(0% );
    }    
}
.semister-menu{
    border-radius: 0;
    background-color: var(--black);
    width: 12rem;
    padding: .7rem;
    font-weight: 400;
    background-color: var(--blue2);
    font-size: 14px;
    text-shadow: none;
    border: none;
}
.search-btn{
    border-radius: 0px;
    padding:.7rem;
    background-color: var(--blue);
    height: fit-content;
    width: fit-content;

}
.search-in{
    width: 35rem;
    font-size: 15px;
    font-family: var(--font1);
    color: black;
    font-weight:700 ;
    height: 2.4rem;
}
.filter{
gap:1rem;
}

